*{
    box-sizing: border-box;
}
html{
    background-color: rgb(250, 244, 244);
}

p{
    font-style: Roboto;
}

body{
    font-family: sans-serif;
    margin: 0;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

a:hover{
    color: rgb(53, 53, 53);
}

header{
    display: flex;
    height: 80px;
    background-color: #76c893;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    max-height: 25px;
    padding-right: 10px;
}

nav a{
    font-weight: bold;
}

.logo h2{
    font-size: 18px;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#entrevista{
        background: rgb(34, 34, 34);
        height: 90vh;
        color: rgb(201, 201, 201);

}

#entrevista h1{
    margin: 0px;
    padding-top: 30px;
    font-size: 45px;
}

#entrevista hr{
    margin: 0px;
}

#entrevista span{
    color: rgb(235, 10, 55);
}

footer{
    display: flex;
    height: 40px;
    align-items: center;
}

.logo-git img{
    max-height: 30px;
    align-items: center;
}

@media (max-width:600px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
} 