*{
    box-sizing: border-box;
}
html{
    background-color: rgb(250, 244, 244);
}

h1, h2, h3, p{
    text-align: center;}
    
p{
    font-style: Roboto;
}

h1, h3{
    text-decoration: underline;
}